<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@ffmpeg/ffmpeg@0.11.5/dist/ffmpeg.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/eligrey/FileSaver.js@master/src/FileSaver.js"></script>
		<script defer src="/public/app.js"></script>
    <title>Client Cut</title>
  </head>
  <body>
    <h1>Client Cut</h1>

    <div id="fileUploadDiv">
      <input type="file" accept=".mp4" id="fileUpload" required />
      <label for="fileUpload">Select file</label>
    </div>
    <p style="display: none" id="conversionProgess"></p>
		<p>&nbsp;</p>
    <video id="preview" controls></video>
		<p>&nbsp;</p>
    <button disabled="true" id="downloadButton">Download converted file</button>
		<div class="credit">
      <p class="creditText">Made by Samuel Olagunju</p>
    </div>
  </body>
</html>
